@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'SUITE Variable', sans-serif;
}

/* 라이트 모드 */
:root {
  --background: hsl(39, 100%, 99%);
  --foreground: hsl(24, 10%, 15%);

  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(24, 10%, 15%);

  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(24, 10%, 15%);

  --primary: hsl(34, 89%, 55%);
  --primary-foreground: hsl(0, 0%, 100%);

  --secondary: hsl(35, 91%, 87%);
  --secondary-foreground: hsl(34, 89%, 30%);

  --accent: hsl(35, 91%, 92%);
  --accent-foreground: hsl(34, 89%, 30%);

  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 100%);

  --muted: hsl(35, 91%, 95%);
  --muted-foreground: hsl(34, 15%, 45%);

  --border: hsl(35, 91%, 90%);
  --input: hsl(35, 91%, 90%);
  --ring: hsl(34, 89%, 55%);

  --radius: 0.6rem;

  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(350 75% 55%);


  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --gsi-bg-color: #ffffff;
  --gsi-border-color: #747775;
  --gsi-text-color: #1f1f1f;
  --gsi-hover-bg-color: #f6f6f6;
  --gsi-hover-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  --gsi-active-focus-state-bg-color: #333333;
  --gsi-active-focus-state-opacity: 0.12;
  --gsi-hover-state-bg-color: #333333;
  --gsi-hover-state-opacity: 0.08;
}

.dark {
  --background: #1b1c1d;
  --foreground: hsl(210 40% 98%);

  --card: #272a2c;
  --card-foreground: hsl(210 40% 98%);

  --popover: #272a2c;
  --popover-foreground: hsl(210 40% 98%);

  --primary: hsl(210 40% 98%);
  --primary-foreground: #1b1c1d;

  --secondary: #323537;
  --secondary-foreground: hsl(210 40% 98%);

  --accent: #323537;
  --accent-foreground: hsl(210 40% 98%);

  --destructive: hsl(0 72% 51%);
  --destructive-foreground: hsl(0 85.7% 97.3%);

  --muted: #323537;
  --muted-foreground: #a1a9af;

  --border: #4a5050;
  --input: #4a5050;
  --ring: hsl(210 20% 80%);

  --chart-1: hsl(205 90% 55%);
  --chart-2: hsl(165 75% 45%);
  --chart-3: hsl(45 93% 55%);
  --chart-4: hsl(280 85% 65%);
  --chart-5: hsl(340 85% 60%);

  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);

  --gsi-bg-color: #131314;
  --gsi-border-color: #8e918f;
  --gsi-text-color: #e3e3e3;
  --gsi-hover-bg-color: #1f1f1f;
  /* 다크모드 호버 배경색 추가 */
  --gsi-hover-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --gsi-active-focus-state-bg-color: #ffffff;
  --gsi-active-focus-state-opacity: 0.12;
  --gsi-hover-state-bg-color: #ffffff;
  --gsi-hover-state-opacity: 0.08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.swiper {
  @apply rounded-md;
}

.custom-bullet {
  background-color: #eec6b2 !important;
}

.custom-bullet-active {
  background-color: #f29325 !important;
}

.dark .custom-bullet {
  background-color: #424242 !important;
}

.dark .custom-bullet-active {
  background-color: #757575 !important;
}

.custom-header-button {
  @apply relative text-base hover:bg-transparent text-black/50 dark:text-white hover:text-black after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-primary dark:after:bg-white after:scale-x-0 hover:after:scale-x-100 after:origin-left after:transition-transform;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: var(--gsi-bg-color);
  background-image: none;
  border: 1px solid var(--gsi-border-color);
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--gsi-text-color);
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #13131461;
  /* 비활성화 스타일은 다크모드 기준으로 유지 */
  border-color: #8e918f1f;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #e3e3e31f;
}

.gsi-material-button:disabled .gsi-material-button-contents,
.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: var(--gsi-active-focus-state-bg-color);
  opacity: var(--gsi-active-focus-state-opacity);
}

.gsi-material-button:not(:disabled):hover {
  background-color: var(--gsi-hover-bg-color);
  box-shadow: var(--gsi-hover-shadow);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: var(--gsi-hover-state-bg-color);
  opacity: var(--gsi-hover-state-opacity);
}